@tailwind base;
@tailwind components;
@tailwind utilities;

.glass_effect {
  background: linear-gradient(
    111.86deg,
    rgba(255, 255, 255, 0.18) 0%,
    rgba(255, 255, 255, 0) 100.49%
  );
  backdrop-filter: blur(177px);
}

.scroll_hidden::-webkit-scrollbar {
}

.scroll_hidden::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(245, 245, 245, 0.014);
}

.scroll_hidden::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

.scroll_hidden::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #27002c52;
}
